
.profilepic {
	position:relative;

	top: 200px;
	width: 100vw;
}

.jiinn{
	  padding: 0px;
	  margin: 0px;
}

.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: 0;
    font-size: 40px;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-nav li a, header {
    color: #d17091;
}